#chat{
    padding-top: 80px;
}

.msgBox{
    width:200px;
    border-radius: 10px 0px 10px 0px;
}

.full-height{
    height: 100%;
}

header{
    height: 10%;
}

#inputContainer{
    position:fixed;
    z-index: 3;
    top:90%;
    width: auto;
}

#inputWrapper{
    margin-top: 70px;
}